.img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   padding: 0px;
   gap: 40px;
position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;

}

h1{
    text-align: center;
    font-size: 2rem;
    color:#0A3871;

}

.encriptar-caja{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

textarea{
    resize: none;
}

.botones{
    display: flex;
    justify-content: space-around;
    padding: 5px ;
}

.botones button{
   margin: 5px;
}

.desencriptar-caja{
    position: fixed;
    top: 40px;
    right: 40px;
    bottom: 40px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.desencriptar-caja textarea{
    flex: 1;
 
}
.desencriptar-caja button{
    margin-top: 10px;
}